.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
  color: white;
  flex-wrap: nowrap;
  position: fixed; /* Ensures it stays at the top */
  top: 0;
  left: 0;
  width: 100%; /* Keeps width within the viewport */
  white-space: nowrap;
  overflow-x: hidden; /* Prevents unnecessary scrolling */
  z-index: 1000; /* Keeps it above other content */
  gap: 10px; /* Adds space between elements */
}

.header_top {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
}

.header_logo img {
  width: 100px;
  cursor: pointer;
}

.header_deliver {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.header_deliver_text {
  font-size: 12px;
  color: #ccc;
}

.header_location {
  font-size: 14px;
  font-weight: bold;
}

.header_search {
  display: flex;
  flex-grow: 1;
  margin: 0 20px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  min-width: 250px;
}

.header_search_category {
  background: #e6e6e6;
  border: none;
  padding: 10px;
}

.header_search_input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.header_search_button {
  background: #febd69;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: block;
}

.header_language {
  display: flex;
  align-items: center;
  margin-right: 20px;
  white-space: nowrap;
}

.header_language img {
  width: 20px;
  margin-right: 5px;
}

.header_account, .header_cart {
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.header_account span{
    font-weight: bold;
}

.header_cart {
  display: flex;
  align-items: center;
  position: relative;
}

.header_cart span {
  position: absolute;
  top: -8px;
  right: 5px;
  background: #f08804;
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 11px;
  margin-left: 5px;
}


.header_cart, 
.header_logo, 
.header_deliver, 
.header_language, 
.header_account { 
  border: 1px solid transparent; /* Keeps space reserved */
  border-radius: 3px;
  padding: 8px; /* Keep padding the same */
}

.header_cart:hover, 
.header_logo:hover, 
.header_deliver:hover, 
.header_language:hover, 
.header_account:hover { 
  border: 1px solid white; /* Now it just changes color, no shift */
}
